---

const titreUne =  await fetch("https://my-butler.netlify.app/.netlify/functions/fetch-title-api")
  .then((htmlText) => {
    console.log("🐠", htmlText);
    return htmlText
  })
  .then((htmlText) => {
    // Initialize the DOM parser
    const parser = new DOMParser();

    // Parse the text
    const pageDocument = parser.parseFromString(htmlText, "text/html");
    // You can now even select part of that html as you would in the regular DOM
    const titreUne = pageDocument.querySelector("h2")?.textContent;
    console.log("🐠🐠", titreUne);
  })
  .catch((error) => console.error(error));

---

<section>
  <h1>Test Fetch Custom Fetch Api on Netlify functions</h1>
  <p>Titre de la une de Libé : {titreUne}</p>
</section>