---
import {parseHTML} from 'linkedom';

const titreUne =  await fetch("https://my-butler.netlify.app/.netlify/functions/fetch-title-api")
  .then((response) => {
    return response.json();
  })
  .then((htmlText) => {
    const {document: documentParsed} = parseHTML(htmlText);
    // You can now even select part of that html as you would in the regular DOM
    const titreUne = documentParsed.querySelector("h2")?.textContent;
    console.log("🐠🐠", titreUne);
  })
  .catch((error) => console.error(error));

---

<section>
  <h1>Test Fetch Custom Fetch Api on Netlify functions</h1>
  <p>Titre de la une de Libé : {titreUne}</p>
</section>