---
const urlToFetch = "https://www.lemonde.fr/";

// const titreUne = document.querySelector("main section .article h1 .article__title-label")?.textContent;
---

<section>
  <h1>Test Fetch Cron Job</h1>
  <!-- <p>Titre de la une du Monde : {titreUne}</p> -->
</section>