---
const titreUne = await fetch("/.netlify/functions/fetch-title-api").
  then(res => res.json()).
  then(data => data.titreUne);

---

<section>
  <h1>Test Fetch Custom Fetch Api on Netlify functions</h1>
  <p>Titre de la une de Libé : {{ titreUne }}</p>
</section>